<<<<<<< Updated upstream
html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-image: url(../IMG/Sfondo_nave_2.jpeg);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
}

input {
    width: calc(60% - 45px);
    height: 10%;
    padding: 1em;
    border: 1px solid white;
    border-radius: 30px;
}

.password {
    margin-top: 1.5em;
}

.LoginContainer {
    width: 60%;
    height: 30%;
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.loginBtn {
    width: 40%;
    height: 20%;
    font-weight: bold;
    background-color: #4576ff;
    border: 1px solid white;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 1.5em;
}
.errorContainer {
    background-color: #ffdcdf;
    color: #942c25;
    border: 2px solid #cc8580;
    padding: 0.5rem;
    font-size: 1rem;
}

.hide {
    display: none;
}

@media only screen and (max-width: 950px) {
    .LoginContainer {
        width: 100%;
    }
}
=======
body{
    align-items: center;
    background-image: url(https://nationalinterest.org/sites/default/files/main_images/USS_Gerald_R._Ford_%28CVN-78%29_underway_on_8_April_2017%20%281%29_0.jpg);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    object-fit:cover;
}


#dataLogin{
    text-align: left;
    padding: 3em;
    width: fit-content;
    margin: 10em auto;
    
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
}

#divLoginBtn{
    text-align: center;
}

#loginBtn{
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: bold;
    background-color: gray;
}

#mostraNascondi{
    font-size: 0.75em;
}
>>>>>>> Stashed changes
