body{
    align-items: center;
    background-image: url(https://nationalinterest.org/sites/default/files/main_images/USS_Gerald_R._Ford_%28CVN-78%29_underway_on_8_April_2017%20%281%29_0.jpg);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    object-fit:cover;
}


#dataLogin{
    text-align: left;
    padding: 3em;
    width: fit-content;
    margin: 10em auto;
    
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
}

#divLoginBtn{
    text-align: center;
}

#loginBtn{
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: bold;
    background-color: gray;
}

#mostraNascondi{
    font-size: 0.75em;
}